doctype html
html
  head
    title= title
    link(type='text/css', rel='stylesheet', href='/stylesheets/home.css')
    link(rel='shortcut icon', href='/images/mappin.png')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
